* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--bg-color1: rgb(240, 240, 228);
	--bg-color2: ivory;
	--control-color1: rgb(14, 86, 119);
	--control-color2: rgb(33, 171, 189);
	--light-color: white;
	--dark-color: rgb(33, 39, 46);
	--disabled-color: rgb(74, 74, 88);
}

body {
	font-family: 'Secular One', sans-serif;
}

img {
	object-fit: contain;
	max-width: calc(100% - 20px);
}

.dark {
	background-color: var(--dark-color);
	color: white;
}

.splashsection > * {
	margin-left: 10px;
	margin-right: 10px;
}
.splashsection > img {
	text-align: center;
	max-height: 400px;
}
.splashsection {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.animated {
	animation-duration: 1s;
	position: relative;
}
.fadeInLeft {
	animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		left: -1000;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

h1, h2, h3 {
	margin-top: 25px;
}
h4, h5, h6 {
	margin-top: 20px;
}

.brandlogo {
	background-image: linear-gradient(white, white, white, var(--bg-color1));
	text-align: center;
	overflow: hidden;
	padding-bottom: 30px;
}

.text-holder {
	max-width: 600px;
}

.text-page {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}
.text-page > * {
	margin-left: 10px;
	margin-right: 10px;
}

body {
	background-color: var(--bg-color1);
	color: var(--dark-color);
}
footer {
	background-color: var(--disabled-color);
	color: white;
	overflow: hidden;
	text-align: center;
}

a:visited,
a:link,
a:active {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	color: inherit;
	background: none;
	cursor: pointer;
}

.button {
	background-color: var(--control-color1);
	border: 3px solid var(--dark-color);
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
}
.button:hover,
.button:active {
	border-color: var(--control-color2);
	color: white;
}
.button:active {
	background-color: var(--dark-color);
	color: white;
}

.button-circle {
	height: 32px;
	width: 32px;
	border-radius: 16px;
	padding-left: 6px;
	padding-right: 6px;
	border: 3px solid var(--control-color2);
	background-color: var(--control-color1);
	text-align: center;
	margin-right: 5px;
	color: var(--light-color);
}

.byu {
	background-color: rgb(0, 44, 91);
	color: white;
}

.splash-logo {
	max-width: 100%;
}

.box-options {
	border: 1px solid var(--light-color);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 10px;
}

.priorities {
	list-style: none;
}
.priorities > li {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	border: 3px solid var(--bg-color1);
	background-color:  var(--bg-color2);
	color: var(--dark-color);
	margin-top: 5px;
	padding: 5px;
	align-items: baseline;
}
.priorities * {
	margin-bottom: 0;
}

.hud-bottom {
	position: fixed;
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	bottom: 20px;
	text-align: right;
	z-index: 20;
}
.hud-bottom * {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.hud-bottom-spacer {
	height: 50px;
}

.stars {
	color: var(--control-color1);
	text-align: center;
	font-size: 120%;
	margin-right: 5px;
}
.priority {
	margin-left: auto;
	color: var(--control-color1);
	height: 32px;
	width: 32px;
	border-radius: 16px;
	padding-left: 6px;
	padding-right: 6px;
	border: 3px solid var(--control-color2);
	background-color: none;
	text-align: center;
}

.map {
	float: right;
}

.requests-inbox {
	border: none;
	border-radius: 16px;
	background-color: var(--light-color);
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 350px);
	padding: 10px;
	margin-bottom: 20px;
}

.requests-inbox a,
.requests-inbox a:link,
.requests-inbox a:visited {
	display: flex;
	position: relative;
	
	flex-direction: row;
	align-items: baseline;
	align-content: flex-end;
	border-radius: 5px;
	background-color: var(--light-color);
	border: 3px solid var(--control-color2);
	color: var(--control-color2);
	padding: 5px;
	height: 56px;
	margin-top: 10px;
}
.requests-inbox a:hover,
.requests-inbox a:active {
	border-color: var(--control-color1);
	color: var(--control-color1);
}
.requests-inbox a:active {
	background-color: #dddddd;
}
.requests-inbox a > p {
	margin-top: 8px;
}

.requests-inbox a .accept {
	margin-left: 10px;
	display: none;
	z-index: 10;
	position: relative;
}
.requests-inbox a:hover .accept {
	display: block;
}

.requests-inbox a .reject {
	margin-left: auto;
	display: none;
	z-index: 10;
	position: relative;
}
.requests-inbox a:hover .reject {
	display: block;
}

.option {
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

svg {
	filter: invert(100%)
}

.aux-info {
	text-align: right;
	float: right;
}

.forward-directing {
	text-align: right;
}

@media only screen and (min-width: 600px) {
	.horizontal {
		flex-direction: row;
		align-items: center;
	}
}